@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 114 100% 100%;
    --foreground: 114 5% 10%;
    --card: 114 50% 100%;
    --card-foreground: 114 5% 15%;
    --popover: 114 100% 100%;
    --popover-foreground: 114 100% 10%;
    --primary: 114 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 114 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 76 30% 95%;
    --muted-foreground: 114 5% 40%;
    --accent: 76 30% 90%;
    --accent-foreground: 114 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 114 5% 100%;
    --border: 114 30% 82%;
    --input: 114 30% 50%;
    --ring: 114 100% 23%;
    --radius: 0rem;
  }
  .dark {
    --background: 114 50% 5%;
    --foreground: 114 5% 90%;
    --card: 114 50% 0%;
    --card-foreground: 114 5% 90%;
    --popover: 114 50% 5%;
    --popover-foreground: 114 5% 90%;
    --primary: 114 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 114 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 76 30% 15%;
    --muted-foreground: 114 5% 60%;
    --accent: 76 30% 15%;
    --accent-foreground: 114 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 114 5% 90%;
    --border: 114 30% 18%;
    --input: 114 30% 18%;
    --ring: 114 100% 23%;
    --radius: 0rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body {
    @apply font-mono text-base antialiased tracking-[.05em] bg-background text-foreground h-full;
  }
}


.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) > code {
  border-color: transparent !important;
}

/* .prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *))  */

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply bg-card rounded-none border border-border p-4;
  position: relative;
  background-color: hsl(113.85deg 40.71% 8.39%) !important;
  margin: 1.5em 0;
  counter-reset: line;
}

.prose pre {
  overflow-x: auto;
  font-feature-settings: normal;
  line-height: 1.6;
}

.prose pre code {
  @apply bg-transparent text-sm;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: block;
}

.prose pre code > span {
  display: block;
  position: relative;
  padding-left: 3em;
}

.prose pre code > span:before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: 0;
  padding: 0 1em;
  color: var(--muted-foreground);
  user-select: none;
}
