@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 114 100% 95%;
    --foreground: 114 5% 0%;
    --card: 114 50% 90%;
    --card-foreground: 114 5% 10%;
    --popover: 114 100% 95%;
    --popover-foreground: 114 100% 0%;
    --primary: 114 86.5% 40.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 114 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 76 30% 85%;
    --muted-foreground: 114 5% 35%;
    --accent: 76 30% 80%;
    --accent-foreground: 114 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 114 5% 90%;
    --border: 114 30% 50%;
    --input: 114 30% 18%;
    --ring: 114 86.5% 40.8%;
    --radius: 0rem;
  }
  .dark {
    --background: 114 50% 5%;
    --foreground: 114 5% 90%;
    --card: 114 50% 0%;
    --card-foreground: 114 5% 90%;
    --popover: 114 50% 5%;
    --popover-foreground: 114 5% 90%;
    --primary: 114 86.5% 40.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 114 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 76 30% 15%;
    --muted-foreground: 114 5% 60%;
    --accent: 76 30% 15%;
    --accent-foreground: 114 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 114 5% 90%;
    --border: 114 30% 18%;
    --input: 114 30% 18%;
    --ring: 114 86.5% 40.8%;
    --radius: 0rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body {
    @apply font-sans text-base antialiased tracking-[.05em] bg-background text-foreground h-full;
  }
}
